/* Edit Side */

.education-header {
    margin-top: 30px;
}

.education-edit-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: lightblue;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 2px 2px rgb(120, 119, 119);
    font-weight: bold;
    font-size: 15px;
}

.education-dates {
    margin-bottom: 10px
}

.education-add-form {
    /* margin-bottom: 30px; */
}

.education-edit-form > label {
    display: block;
    text-align: left;
}

.education-edit-form > input {
    max-width: 250px;
    margin-bottom: 10px;
}

#school-name, #degree-level {
    max-width: 240px;
}

#start-date, #end-date {
    max-width: 85px;
    margin-left: 3px;
}

#start-date {
    margin-right: 10px;
}

.education-buttons {
    display: flex;
}

.save, .delete {
    margin: 0px 15px;
}

.save {
    background-color: rgb(68, 129, 195);
    color: white;
}

.delete {
    background-color: rgb(191, 81, 81);
    color: white;
}



/* Display side */

.education-display{
    border-top: 2px solid black;
    margin-bottom: 40px;
}