.experience-edit-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: rgb(161, 133, 216);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 2px rgb(79, 78, 78);
    font-weight: bold;
    font-size: 15px;
}

.experience-edit-form > label {
    display: block;
    text-align: left;
}

.experience-edit-form > input {
    max-width: 250px;
    margin-bottom: 10px;
}

.experience-dates {
    margin-bottom: 10px;
}


.experience-buttons {
    display: flex;
}


/* Display side */

.experience-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0px 15px;
}

.employer-display {
    font-weight: bold;
}

.role-display {
    font-style: italic;
}

.employer-dates-display {
    font-style: oblique;
}

.experience-title {
    border-bottom: 3px solid black;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 8px;
}