.info-inputs-container {
    max-width: 500px;
}

.info-header {
    /* position: absolute;
    top: -50px; */
}

.info-form {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(61, 121, 61, 0.6);
    border-radius: 25px;
    /* outline: 3px solid green; */
    padding: 12px;
}

.info-form > label {
    display: block;
    text-align: left;
}

.info-form > input {
    max-width: 250px;
    margin-bottom: 10px;
}

.info-details {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
