#root {
    min-width: 1600px;
    /* height: 100%; */
}

.cv-section {
    display: flex;
    justify-content: space-evenly;
    /*max-width: 40%; */
    min-height: 350px;
    

}

.edit-box {
    max-width: 30%;
    background-color: rgb(227, 184, 120);
    padding: 0px 25px;
}

.display-card {
    background-color: azure;
    min-width: 820px;
}

/* edit form */



@media (max-width: 1600px) {
    #root {
        min-width: 1400px;
    }

    .display-card {
        max-width: 600px;
    }
}

@media (max-width: 1230px) {
    #root {
        min-width: 1100px;
    }

    .display-card {
        min-width: 500px;
    }
}